* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.board-container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}